<nav id="navbar" class="navbar-light bg-light navbar navbar-expand-lg sticky-top d-flex justify-content-between">

  <div class="navbar-nav  d-flex align-items-start" style="margin-left: 2%">
    <button id="side-navbar-button" class="btn btn-primary" type="button" onclick="colapse()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>
  </div>

  <div class="d-flex justify-content-center" style="position: relative; left:2.2vw;">
    <a class="navbar-brand my-auto" [routerLink]="''" >
      <img id="logo" src="/assets/img/logo-ProjectSupport.png" alt="logo-ProjectSupport.png" />
    </a>
    <a class="navbar-brand my-auto" [routerLink]="''" >
      <h1  id="logo-text" class="project-name my-auto">ProjectSupport</h1>
    </a>
  </div>

  <div class=" d-flex justify-content-end" style="padding-right: 4%;">
    <div *ngIf="!isLoggedIn" class="">
      <a [routerLink]="'login'" class="btn btn-primary logo-button">
        <h5 class="logo-img">
          <img src="./assets/bootstrap-icons/dors-login.svg" style="max-height: 40px;"/>
          <b>Zaloguj się</b>
        </h5>
      </a>
    </div>
    <div class="row dropdown" *ngIf="isLoggedIn">
      <ul class="navbar-nav">

        <!-- Profile -->
        <li mdbDropdown class="nav-item dropdown ms-auto">
          <a class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdownMenuLink" role="button" mdbDropdownToggle aria-expanded="false">
            <img src="/assets/img/people-user.jpg" class="rounded-circle profile-picture bg-light" alt="x.png" loading="lazy" />
          </a>
          <div class="ul-user-list">
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" [routerLink]="'profile'">Mój profil</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="logout()">Wyloguj</a>
              </li>
            </ul>
          </div>

        </li>
      </ul>
    </div>
  </div>

</nav>

