<div class="container" *ngIf="currentUser">
  <div class="card card-container mt-5">
    <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
    <header class="jumbotron m-3">
      <h3>
        Profil użytkownika: <strong>{{ currentUser.username }}</strong>
      </h3>
    </header>
    <div>
      <h4 class="m-3">
        <strong>Email:</strong> {{ currentUser.email }}
      </h4>
      <h4 class="m-3 mb-5">
        <strong>Role:</strong>
        <ul>
          <li style="position: relative; right: 20px;" *ngFor="let role of currentUser.roles" class="list-group-item">{{ role }}</li>
        </ul>
      </h4>
    </div>
  </div>
</div>
