<div class="container">
  <header class="jumbotron">
    <h1><b>Witaj na stronie "ProjectSupport"</b> - systemu wspierającego obsługę przedmiotów projektowych!</h1><br>

    <p>Nasza platforma to kompleksowe narzędzie, które pomaga w zarządzaniu projektami i ułatwia pracę zespołową.</p>

    <p>Nasz system umożliwia tworzenie projektów, przypisywanie zadań, ustalanie terminów oraz monitorowanie postępów prac.
      Dzięki temu każdy członek zespołu ma dostęp do najważniejszych informacji i wie, co powinien zrobić w danej chwili.</p>

    <p>Nasz system umożliwia również łatwe i szybkie dzielenie się dokumentami oraz komunikację zespołu poprzez wbudowany czat.
      Dodatkowo, możesz generować raporty i analizować wyniki projektów, co pomaga w podejmowaniu właściwych decyzji.</p>

    <p>Nasza platforma jest łatwa w obsłudze i dostępna z dowolnego urządzenia z dostępem do internetu. Zapraszamy do zapoznania
      się z naszą ofertą i skorzystania z naszego systemu, który ułatwi Twoją pracę z projektami!</p>

    <p><b>{{ content }}</b></p>

  </header>
</div>
