.nav-item .nav-link {
  min-height: 50px;
  min-width: 250px;
}

#menu {
  min-width: 500px;
}

.nav-item a {
  color: white;
  font-weight: normal;
}

.nav-item a:hover {
  text-shadow:
    -0.5px -0.5px 0 #919498,
    0.5px -0.5px 0 #919498,
    -0.5px 0.5px 0 #919498,
    0.5px 0.5px 0 #919498;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

@media only screen and (max-width: 575px) {
  .nav-link {
    text-align: center;
    position: relative;
    left: -35%;
  }
}
