<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu" >
  <li class="nav-item">
    <a [routerLink]="" class="nav-link align-middle px-0" >
      <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Opcja1</span>
    </a>
  </li>
  <li>
    <a [routerLink]="" class="nav-link px-0 align-middle">
      <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Opcja2</span> </a>
  </li>
  <li>
    <a [routerLink]="" class="nav-link px-0 align-middle">
      <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Opcja3</span></a>
  </li>
  <li>
    <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
      <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Lista rozwijana</span><i class="bi bi-caret-down-fill"></i>
    </a>
    <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
      <li class="w-100">
        <a [routerLink]="" class="nav-link px-0">
          <i class="bi bi-card-checklist"></i><span class="ms-1 d-none d-sm-inline">Opcja 1</span>
        </a>
      </li>
      <li>
        <a [routerLink]="" class="nav-link px-0">
          <i class="bi bi-exclamation-circle"></i><span class="ms-1 d-none d-sm-inline">Opcja 2</span>
        </a>
      </li>
      <li>
        <a [routerLink]="" class="nav-link px-0">
          <i class="bi bi-award-fill"></i><span class="ms-1 d-none d-sm-inline">Opcja 3</span>
        </a>
      </li>
      <li>
        <a [routerLink]="" class="nav-link px-0">
          <i class="bi bi-file-earmark-bar-graph"></i><span class="ms-1 d-none d-sm-inline">Opcja 4</span>
        </a>
      </li>
    </ul>
  </li>
</ul>
