<footer class="bg-dark text-center text-white footer-style">
  <div class="p-4 row d-flex justify-content-around">
    <div class="col-sm mx-auto">
      <p>
        cos cos cos cos
      </p>
    </div>

    <div class="col-sm mx-auto">
      <h5 class="text-uppercase">Linki zewnętrzne</h5>
      <ul class="list-unstyled mb-0">
        <li>
          <a href="https://github.com/solsebas/ProjectSupport" target="_blank" class="text-white">Repo. github</a>
        </li>
        <li>
          <a href="#" target="_blank" class="text-white">LINK 2</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <i class="text-white">ProjectSupport</i>
  </div>
</footer>
